# Caddyfile de desarrollo , no usar en produccion
:80 {
  encode zstd gzip

  @api path /api/*
  reverse_proxy @api api:8000
  reverse_proxy web:4173
  root * /srv/web
  file_server

  try_files {path} /index.html
}

 
